/* .title{
  display: flex;
} */
.fon{
  background: #839695;
}

.article{
  padding: 40px 120px 0px 120px;
  text-align: start;
}
.title{
    font-size: 36px;
    color: #fff;
  }
.title__img{
    width: 100%;
    max-height: 450px;
    margin-top: 10px;
}
.title__description{
    font-weight: 500;
    font-size: 17px;
    padding: 30px 0;
  }
/* .article__comments{
    background: #fff;
    padding: 18px 35px;
}
.article__comments-name{
      font-size: 20px;
      font-weight: 700;
    }
.article__comments-comment{
      font-size: 14px;

    } */